button:focus {outline:0 !important;}

.frog {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes example {
  0%   {width:80px; height:80px;}
  25%  {width:82px; height:82px;}
  50%  {width:85px; height:85px;}
  75%  {width:82px; height:82px;}
  100% {width:80px; height:80px;}
}

.bird {
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.animalhovering {
  filter:drop-shadow(2px 2px 0 yellow) drop-shadow(-2px -2px 0 yellow);
}
